.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  border: 1px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
