@import "tailwindcss";

main {
  width: 100%;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Additional styling */
  border: 1px solid black;
  text-align: center;
}
dialog::backdrop {
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.2),
    rgba(255, 0, 0, 0.2) 1px,
    rgba(255, 0, 0, 0.3) 1px,
    rgba(255, 0, 0, 0.3) 20px
  );
}
